.venv
.env
bin
.vscode
gcp/secrets/*
!gcp/secrets/README.md
k8s/secrets/*
!k8s/secrets/README.md
.vagrant
.cache
.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info
inventory.ini
vars.yml
generated
gcp/resources/*